.blog-slider{
    margin-top: 69px;
    position: relative;
}

.blog-slider .blog-scroll-slider{
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
}

.blog-slider .slider-content-wrapper{
    display: flex;
}

.blog-slider-content{
    height: 480px;
    background-image: url('../../assets/blog-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.blog-slider-content .content-shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    position: relative;
}

.content-options{
    position: absolute;
    bottom: 80px;
    left: 88px
}

.content-options > p:nth-child(1){
    font-size: 44px;
    margin-bottom: 12px;
}

.content-options > p:nth-child(2){
    font-size: 32px;
    margin-bottom: 34px;
}

.content-options button{
    background-color: #ff6200;
    padding: 12px 32px;
    color: white;
    border: #ff6200 2px solid;
    border-radius: 10px;
    cursor: pointer;
}

.blog-slider .bullet-nav{
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
}

.blog-slider .bullet-nav button{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: rgb(235, 235, 235) 1px solid;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    margin: 0 2px;
}

.blog-slider .bullet-nav .selected{
    background-color: rgb(150, 150, 150);
    border: rgb(150, 150, 150) 1px solid;
}

.blog-slider .arrow-nav{
    position: absolute;
    width: 720px;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
}

.blog-slider .arrow-nav button{
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    background-color: white;
    border: 0;
    position: absolute;
    cursor: pointer;
}

.blog-slider .arrow-nav .arrow-left{
    background-image: url('../../assets/arrow-left.png');
    left: 10px;
}

.blog-slider .arrow-nav .arrow-right{
    background-image: url('../../assets/arrow.png');
    right: 10px;
}

.search-field > p, .article-list > p{
    color: #ff6200;
}

.search-field, .article-list{
    margin: 64px 0;
    padding: 0 8%;
}

.search-field p{
    font-size: 48px;
}

.search-field div{
    margin-top: 48px;
    width: 100%;
    border: #ff6200 1px solid;
    padding: 12px;
    border-radius: 8px;
}

.search-field input{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 18.72px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel{
    width: 100%;
}

.carousel-wrapper{
    display: flex;
}

.article-list > p{
    margin-bottom: 24px;
}

.article-list article{
    width: 360px;
    height: 480px;
    border: rgba(0, 0, 0, 0.1) 2px solid;
    border-radius: 10px;
    position: relative;
    margin: 0 32px
}

.article-list article .article-img{
    width: calc(100% + 2px);
    height: 36%;
    transform: translateX(-1px);
    background-image: url('../../assets/blog-img-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 16px;
}

.article-list article span{
    border: #ff6200 1px solid;
    border-radius: 4px;
    color: #ff6200;
    margin: 8px;
    padding: 4px 6px;
}

.article-list article > p{
    margin: 12px 12px
}

.article-list article .article-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: rgba(0, 0, 0, 0.1) 2px solid;
    position: absolute;
    bottom: 0;
    padding: 12px;
}

.article-list article .article-footer button{
    background-color: #ff6200;
    padding: 8px 18px;
    color: white;
    border: #ff6200 2px solid;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 32px;
}